@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: 800;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    user-select: none;
}


body {
    background: #fff;
    font-family: 'Google Sans';
    font-weight: 600;
}


.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    max-width: 615px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 60px;
}

.title {
    font-size: 100px;
    letter-spacing: -5px;
    text-align: center;
}

.title span {
    opacity: 35%;
}

.description {
    margin-top: 6px;
    font-size: 22px;
    margin-left: 8px;
}



@media (max-width: 500px) {
    .title {
        font-size: 50px;
        letter-spacing: -3px;
    }

    .logo {
        width: 30px;
    }

    .description {
        margin-top: 3px;
        font-size: 11px;
    }

    .connection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vh;
        height: 100vh;
        margin: 0 auto;
        max-width: 310px;
    }
}